<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
        <img src="images/yelp_go.png" class="logo">
        <form class="navbar-form custom-centered" role="search">
            <div class="input-group">
                <span class="search-text front">Find</span><input type="text" class="form-control" placeholder="wins, events, contests" name="srch-term" id="srch-term">
                <span class="search-text">Department</span><input type="text" class="form-control" placeholder="Customer Success" name="srch-dep" id="srch-dep">
                <div class="input-group-btn">
                    <button class="btn red" type="submit"><img class="glyph" src="images/search.png"></button>
                </div>
            </div>
        </form>
        <a class="nav-item nav-link" href="/home">Back to The Pursuit <span class="sr-only">(current)</span></a>
    </nav>
    <!--<div class="options row">
        <div class="dropdown pillarOp">
            <button type="button" class="btn btn-secondary dropdown-toggle celebrate" data-toggle="dropdown">
                Celebrate
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="submit/wins_personal.html">Individual Wins</a>
                <a class="dropdown-item" href="submit/wins_team.html">Team Wins</a>
                <a class="dropdown-item" href="submit/general.html">Department Wins</a>
                <a class="dropdown-item" href="submit/mvp.html">MVP</a>
                <a class="dropdown-item" href="submit/yelp_works.html">Yelp Works</a>
                <a class="dropdown-item" href="submit/theme_days.html">Competition</a>
                <a class="dropdown-item" href="submit/seize_mic.html">Seize the Mic</a>
                <a class="dropdown-item" href="submit/general.html">general</a>
            </div>
        </div>
        <div class="dropdown pillarOp">
            <button type="button" class="btn btn-secondary dropdown-toggle educate" data-toggle="dropdown">
                Educate
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="submit/open_mic.html">Open Mic</a>
                <a class="dropdown-item" href="submit/fill_in_friday.html">Fill You In Friday</a>
                <a class="dropdown-item" href="submit/on_shelf.html">On the Shelf</a>
                <a class="dropdown-item" href="submit/industry_info.html">Industry Information</a>
                <a class="dropdown-item" href="submit/kitch.html">Kitch</a>
                <a class="dropdown-item" href="submit/fashion.html">Fashion</a>
                <a class="dropdown-item" href="submit/education_events.html">Yelp Educational Events</a>
                <a class="dropdown-item" href="submit/training.html">Training</a>
                <a class="dropdown-item" href="submit/general.html">general</a>
            </div>
        </div>
        <div class="dropdown pillarOp">
            <button type="button" class="btn btn-secondary dropdown-toggle motivate" data-toggle="dropdown">
                Motivate
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="submit/TED.html">TED Talks</a>
                <a class="dropdown-item" href="submit/theme_days.html">Theme Days</a>
                <a class="dropdown-item" href="submit/wins_personal.html">Personal Acheivements</a>
                <a class="dropdown-item" href="submit/events.html">Yelp Offsites/Events</a>
                <a class="dropdown-item" href="submit/groups.html">Yelp Groups</a>
                <a class="dropdown-item" href="submit/general.html">general</a>
            </div>
        </div>
        <button class="btn pillarOp Op2" >Submit your Story</button>
    </div>-->
</div>